extends layout.pug

block title
  ="This is MagicApp"

block container
  h1 MyApp
  p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
  a.login(href='/users/google') Sign in with Google